
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <!-- note the ng-init and ng-click here: -->
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Sistema de Alertas</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" uib-collapse="navCollapsed">
            <ul class="nav navbar-nav">
                <li ng-class="{ active: activePath=='/' }" ><a href="#/">Inicio</a></li>
                <li ng-class="{ active: activePath=='/alertas/listado' }" ><a href="#/alertas/listado">Listado de Alertas</a></li>
                <li uib-dropdown  ng-class="{ active: activePath=='/reportes/*' }">
                    <a uib-dropdown-toggle >Reportes<span class="caret"></span></a>
                    <ul uib-dropdown-menu>
                        <li ng-class="{ active: activePath=='/reportes/tipo-sujeto-agredido' }"><a href="#/reportes/tipo-sujeto-agredido">Tipo de Sujeto Agredido</a></li>
                        <li ng-class="{ active: activePath=='/reportes/sujeto-agredido-por-genero' }"><a href="#/reportes/sujeto-agredido-por-genero">Reporte por Género</a></li>
                        <li ng-class="{ active: activePath=='/reportes/tipo-de-medio' }"><a href="#/reportes/tipo-de-medio">Tipo de Medio</a></li>
                        <li ng-class="{ active: activePath=='/reportes/agresiones-directas' }"><a href="#/reportes/agresiones-directas">Agresiones Directas</a></li>
                        <li ng-class="{ active: activePath=='/reportes/agresiones-indirectas' }"><a href="#/reportes/agresiones-indirectas">Agresiones Indirectas </a></li>
                        <li ng-class="{ active: activePath=='/reportes/tipo-de-agresor' }"><a href="#/reportes/tipo-de-agresor">Tipo de Agente Agresor </a></li>
                        <li ng-class="{ active: activePath=='/reportes/locacion' }"><a href="#/reportes/locacion">Locación por Departamento </a></li>
                        <li ng-class="{ active: activePath=='/reportes/ocurrencias-menuales' }"><a href="#/reportes/ocurrencias-menuales">Ocurrencias por Mes </a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->