<div class="col-md-12">

</div>

<div class="col-md-12">
    <div class="row">
        <table class="table-bordered table table-hover">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Titulo de Alerta</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="alertas in alertas">
                    <td>{{ alertas.number}}</td>
                    <td><a href="#/alertas/detalle/{{ alertas.id }}">{{ alertas.title }}</a></td>
                    <td>{{ changeDate(alertas.published_date) }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>