<div class="row">
    <div class="col-md-12">
        <h3>¿Que es una alerta?</h3>
    </div>
    <div class="col-md-12">
        <p>El presente manual o cartilla básica intenta ser una guía que oriente a las personas periodistasy ciudadano Sobre qué hacer en caso de una amenaza, un atentado, una intimidación, una desaparición, un encarcelamiento, una difamación, lesiones, multas y
            obstáculos al acceso a la información pública, entre otros, relacionados con el ejercicio
            y el derecho a la libertad de expresión y de información.</p>
        <p>
            Basado en los lineamientos que utilizan las principales organizaciones internacionales
            de defensa de la libertad de expresión, el presente Manual intenta también dar a las personas una guía técnica para la elaboración y difusión de las alertas. Nuestros referentes para este propósito han sido la Red de Intercambio Internacional por la Libertad de Expresión (IFEX, por sus siglas en inglés), y la organización Probidad, a través de la red de Periodistas Frente a la Corrupción (PFC).
        </p>
        <p>En C-Libre estamos convencidos que el derecho a la información es un derecho natural que la sociedad y los periodistas debemos conquistar cada día. Quienes integramos el Comité por la Libre Expresión consideramos que en la construcción de un Estado de Derecho, es imprescindible la existencia de un periodismo ético, de investigación, fiscalizador de la gestión pública, que se desempeñe en un ambiente de seguridad y acceso libre a la información, al tiempo que promueva un régimen de opinión pública que permita a la ciudadanía hacer un uso efectivo de su Derecho a la Información y de Libertad de Expresión.</p>
        <p>Manual básico de Alertas
            Esperamos que el presente Manual Básico de Alertas contribuya a ese esfuerzo democratizador y de defensa de las libertades públicas, que permita reforzar el concepto de la “democracia ciudadana” con amplia participación social y pluralismo.</p>
        <p>
            2. Las alertas
            Son un mecanismo de denuncia y acción eficiente que permiten a la sociedad y a la opinión pública llamar la atención sobre un problema de interés nacional e internacional. Este Manual pretende señalar la técnicas necesarias para obtener y presentar información que constituya una acción de alerta. No pretende ser una guía única, pero sí responder a la necesidad inmediata de apuntar lo que los promotores de libertad de expresión deberían tener presente al momento de elaborar información vinculada al tema.
        </p>
        <ul class="list-group">
            <li class="list-group-item"><a target="_blank" href="https://www.dropbox.com/s/4rogqw1y54yybcl/Manual%20Basico%20de%20Alertas.pdf?dl=0">Descargar manual de alertas</a></li>
        </ul>
    </div>
</div>
