<div class="col-md-12">
    <h3>Reportes por Tipo de Medio</h3>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills">
                <li ng-repeat="year in years" role="presentation"  ng-click="addOrRemoveClassFromYear($index)" ng-class="{active: selectedYears[$index]}">
                    <a ng-click="getData(year.year)" >{{ year.year }}</a>
                </li>
            </ul>
        </div>

        <hr />

        <div class="col-md-12">
            <uib-tabset>
                <uib-tab heading="Listados" ng-click="changeTraza(2)">
                    <table class="table-hover table-bordered table">
                        <thead>
                        <tr>
                            <th>Id {{ traza }}</th>
                            <th>Tipo de Medio o Sistema</th>
                            <th>%</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in datos">
                            <td>{{ data.medioId }}</td>
                            <td>{{ data.medio }}</td>
                            <td>{{ data.contador }}</td>
                        </tr>
                        </tbody>
                    </table>
                </uib-tab>
            </uib-tabset>
        </div>

    </div>
</div>

